@model gestionecole.Models.Cours

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Cours</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datedebut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datedebut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datefin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datefin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NbreHoraire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NbreHoraire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.semestre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.semestre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.module)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.module)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
